{% extends "web_site/layout_es.html" %}
{% block content%}
  <section class="about_section layout_padding" style="background-color: white;">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="p-4">
          ¿Quienes Somos?
        </h2>
      </div>
      <div class="row mt-5 shadow  mb-5 bg-white rounded p-4">
        <div class="col-md-6">
          <h2>Misión</h2>
          <p>Contribuimos a mejorar la vida de nuestros clientes facilitando el acceso a servicios
            financieros innovadores y personalizados que impulsan la construcción de un
            patrimonio sólido y próspero.</p>
        </div>
        <div class="col-md-6">
          <h2>Visión</h2>
          <p>Ser la firma financiera líder en México y referente en América, reconocida por ofrecer
            soluciones innovadoras y un compromiso inquebrantable con el éxito de nuestros clientes,
            brindándoles una experiencia cercana y personalizada que los hace sentir como en casa.</p>
        </div>
      </div>
    </div>

    <div class="heading_container heading_center ">
        <h2 class="p-4">
          Nuestros Valores
        </h2>
      </div>

      <section class="values-carousel">
        <div class="container w-lg-50">
          <div class="row">
            <div class="col-md-12">
              <div id="valuesCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#valuesCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#valuesCarousel" data-slide-to="1"></li>
                  <li data-target="#valuesCarousel" data-slide-to="2"></li>
                  <li data-target="#valuesCarousel" data-slide-to="3"></li>
                  <li data-target="#valuesCarousel" data-slide-to="4"></li>
                  <li data-target="#valuesCarousel" data-slide-to="5"></li>
                  <li data-target="#valuesCarousel" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <div class="card mb-4 shadow  mb-5 bg-white rounded">
                      <div class="card-body">
                        <h5 class="card-title">Responsabilidad Social</h5>
                        <p class="card-text">Estamos comprometidos con el bienestar de la comunidad y el medio ambiente, y
                          promovemos prácticas sostenibles en todas nuestras operaciones.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card mb-4 shadow  mb-5 bg-white rounded">
                      <div class="card-body">
                        <h5 class="card-title">Integridad</h5>
                        <p class="card-text">Actuamos con honestidad, ética y responsabilidad en todas nuestras interacciones, manteniendo un
                          compromiso inquebrantable con la verdad y la justicia.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card mb-4 shadow  mb-5 bg-white rounded">
                      <div class="card-body">
                        <h5 class="card-title">Innovación</h5>
                        <p class="card-text">
                          Buscamos constantemente nuevas y mejores formas de servir a nuestros clientes, utilizando
tecnología de vanguardia y soluciones creativas.
                        </p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Lealtad</h5>
                          <p class="card-text">Cultivamos relaciones de confianza y respeto con nuestros clientes, empleados y socios, basadas en la
                            transparencia, la comunicación abierta y el apoyo mutuo.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Colaboración</h5>
                          <p class="card-text">Valoramos el trabajo en equipo y la colaboración, reconociendo que juntos logramos más que individualmente. Fomentamos un ambiente inclusivo y participativo donde se celebra la diversidad de ideas y se fomenta el intercambio de conocimientos y experiencias.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Servicio</h5>
                          <p class="card-text">: Nos apasiona brindar un servicio al cliente excepcional, caracterizado por la atención personalizada, la
                            proactividad y la transparencia.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#valuesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only btn-primary">Previous</span>
                  </a>
                  <a class="carousel-control-next" style="color: black;" href="#valuesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only btn-primary">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </section>
  
  {% endblock %}
  