{% extends "web_site/layout_es.html" %}
{% block content%}
  <section class="about_section layout_padding" style="background-color: white;">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="p-4">
          ¿Quienes Somos?
        </h2>
      </div>
      <div class="row mt-5 shadow  mb-5 bg-white rounded p-4">
        <div class="col-md-6">
          <h2>Misión</h2>
          <p>En Patrimonial Smart & Asociados, nuestra misión es ser el socio de confianza de nuestros clientes en la búsqueda y creación de oportunidades financieras y patrimoniales significativas. Nos comprometemos a proporcionar servicios excepcionales y personalizados que superen las expectativas, utilizando nuestra experiencia, innovación y dedicación para guiar a nuestros clientes hacia el éxito en cada paso del camino.</p>
        </div>
        <div class="col-md-6">
          <h2>Visión</h2>
          <p>Nuestra visión es convertirnos en líderes reconocidos a nivel mundial en la prestación de servicios financieros y patrimoniales de clase mundial. Aspiramos a ser la primera opción para aquellos que buscan asesoramiento experto, soluciones innovadoras y un compromiso inquebrantable con su éxito financiero y patrimonial. Nos esforzamos por mantenernos a la vanguardia de la industria, ofreciendo servicios que trasciendan las expectativas y establezcan nuevos estándares de excelencia. En Patrimonial Smart & Asociados, estamos comprometidos a ser el catalizador del éxito para nuestros clientes en un mundo en constante cambio.</p>
        </div>
      </div>
    </div>

    <div class="heading_container heading_center ">
        <h2 class="p-4">
          Nuestros Valores
        </h2>
      </div>

      <section class="values-carousel">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="valuesCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#valuesCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#valuesCarousel" data-slide-to="1"></li>
                  <li data-target="#valuesCarousel" data-slide-to="2"></li>
                  <li data-target="#valuesCarousel" data-slide-to="3"></li>
                  <li data-target="#valuesCarousel" data-slide-to="4"></li>
                  <li data-target="#valuesCarousel" data-slide-to="5"></li>
                  <li data-target="#valuesCarousel" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <div class="card mb-4 shadow  mb-5 bg-white rounded">
                      <div class="card-body">
                        <h5 class="card-title">Excelencia</h5>
                        <p class="card-text">En Patrimonial Smart & Asociados, nos comprometemos a alcanzar la excelencia en todo lo que hacemos. Buscamos la perfección en nuestros servicios, procesos y relaciones con los clientes, siempre esforzándonos por superar las expectativas y alcanzar estándares de calidad superiores.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card mb-4 shadow  mb-5 bg-white rounded">
                      <div class="card-body">
                        <h5 class="card-title">Integridad</h5>
                        <p class="card-text">Actuamos con honestidad, transparencia y ética en todas nuestras interacciones. Nuestra integridad es fundamental para construir relaciones sólidas y de confianza con nuestros clientes, colegas y socios comerciales.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card mb-4 shadow  mb-5 bg-white rounded">
                      <div class="card-body">
                        <h5 class="card-title">Compromiso</h5>
                        <p class="card-text">Estamos dedicados a cumplir nuestras promesas y a trabajar incansablemente para el éxito de nuestros clientes. Nos comprometemos a ser proactivos, diligentes y responsables en la búsqueda de soluciones que impulsen el crecimiento y la prosperidad de quienes conf
                          ían en nosotros.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Innovación</h5>
                          <p class="card-text">Buscamos constantemente nuevas formas de agregar valor y anticiparnos a las necesidades cambiantes de nuestros clientes. Promovemos la creatividad y la innovación en todos los aspectos de nuestro trabajo, fomentando un ambiente que fomente el pensamiento original y la mejora continua.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Colaboración</h5>
                          <p class="card-text">Valoramos el trabajo en equipo y la colaboración, reconociendo que juntos logramos más que individualmente. Fomentamos un ambiente inclusivo y participativo donde se celebra la diversidad de ideas y se fomenta el intercambio de conocimientos y experiencias.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Respeto</h5>
                          <p class="card-text">Tratamos a todos con respeto, dignidad y empatía, reconociendo el valor único de cada individuo y su contribución al éxito colectivo. Promovemos un ambiente de trabajo inclusivo y respetuoso, donde se valora y se respeta la diversidad en todas sus formas.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card mb-4 shadow  mb-5 bg-white rounded">
                        <div class="card-body">
                          <h5 class="card-title">Responsabilidad Social</h5>
                          <p class="card-text">Nos comprometemos a actuar de manera responsable con respecto al medio ambiente, las comunidades en las que operamos y la sociedad en su conjunto. Buscamos contribuir positivamente al bienestar de la sociedad y aportar nuestro granito de arena para construir un mundo más justo y sostenible.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#valuesCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only btn-primary">Previous</span>
                  </a>
                  <a class="carousel-control-next" style="color: black;" href="#valuesCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only btn-primary">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </section>
  
  {% endblock %}
  