<!-- Your existing HTML code -->
{% extends "web_site/layout.html" %}
{% block content%}

<div style="background-color: white;">
    <section class="team_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Our Portafolio</h2>
                <p>Building and managing a diversified property portfolio requires strategic vision and proactive management. With Patrimonial Smart, we ensure that your investments thrive, offering customized solutions to optimize your real estate assets and ensure long-term growth.</p>
                <div class="search_bar">
                    <form action="{% url 'portfolio' %}" method="get">
                        <input type="text" name="search" placeholder="Buscar...">
                        <select name="location_filter" id="location_filter">
                            <option value="">Todas las Ubicaciones</option>
                            {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                        <select name="property_type_filter" id="property_type_filter">
                            <option value="">Tipo de Propiedad</option>
                            {% for property_type in property_types %}
                            <option value="{{ property_type }}">{{ property_type }}</option>
                            {% endfor %}
                        </select>
                        <!-- Add more dropdowns similarly for other fields -->
                        <button type="submit">Filtrar</button>
                    </form>
                </div>
            </div>
            <div class="row">
                {% for prop in props %}
                <div class="col-md-4 col-sm-6 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="{{ prop.imb_Image.url }}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>{{ prop.imb_Name }}</h5>
                            <h6>{{ prop.imb_State }}</h6>
                            <h6>{{ prop.imb_Description }}</h6>
                            <h6>{{ prop.imb_Price }}  {{ prop.imb_Currency }}</h6>
                            <button type="button" class="btn btn-warning" data-toggle="modal"  data-target="#exampleModal{{ prop.imb_ID }}">
                                View more
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
{% for prop in props %}
<div class="modal fade" id="exampleModal{{ prop.imb_ID }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ prop.imb_ID }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{ prop.imb_ID }}">{{ prop.imb_Name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ prop.imb_Image.url }}" alt="" class="w-100">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Category</th>
                            <td>{{ prop.imb_Category }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ prop.imb_Name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">MLS</th>
                            <td>{{ prop.imb_MLS }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td>{{ prop.imb_Type }}</td>
                        </tr>
                        <tr>
                            <th scope="row">City</th>
                            <td>{{ prop.imb_City }}</td>
                        </tr>
                        <tr>
                            <th scope="row">State</th>
                            <td>{{ prop.imb_State }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Area</th>
                            <td>{{ prop.imb_Area }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bedrooms</th>
                            <td>{{ prop.imb_Bedrooms }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bathrooms</th>
                            <td>{{ prop.imb_Bathrooms }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Size</th>
                            <td>{{ prop.imb_Size }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            <td>{{ prop.imb_Price }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Currency</th>
                            <td>{{ prop.imb_Currency }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ prop.imb_Description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
