{% extends "web_site/layout_es.html" %}
{% block content%}
<div class="container-fluid" style="">
    <div class="row">
        <!-- Images on the left -->
        <div class="col-md-6 p-0" style="background-color: rgb(0, 0,0, 0.4);">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <img src="/static/images/h3.jpeg" class=" w-100 mb-2" alt="...">
            <img src="/static/images/h1.jpeg" class="w-100" alt="...">
          </div>
        </div>


      <!-- Services on the right -->
      <div class="col-md-6" style="background-color: white;">
        <h1 class="m-4 text-center"><b>SERVICIOS INMOBILIARIOS</b></h1>
        <p class="text-center p-3">En Patrimonial Smart & Asociados, comprendemos que su hogar no es solo una propiedad; es el epicentro donde su vida se desarrolla. Nuestro enfoque único y personalizado le permite descubrir el hogar que coincide perfectamente con sus sueños.</p>

        <!-- Servicios Inmobiliarios Personalizados -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Servicios Inmobiliarios Personalizados</b></h5>
            <a href="#collapse1" class="" data-toggle="collapse">Ver Más</a>
            <div class="collapse" id="collapse1">
              <p class="card-text p-3">Utilizamos tecnología avanzada y estrategias de marketing innovadoras para identificar los mejores activos inmobiliarios para nuestros clientes. Nuestro enfoque basado en datos nos permite ofrecer soluciones personalizadas y encontrar oportunidades únicas que se ajusten a sus necesidades y preferencias.</p>
              <a href="contacto.html" class="btn btn-primary btn-sm text-center">Contáctenos</a>
            </div>
          </div>
        </div>

        <!-- Inversiones Inmobiliarias Inteligentes -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Inversiones Inmobiliarias Inteligentes</b></h5>
            <a href="#collapse2" class="" data-toggle="collapse">Ver Más</a>
            <div class="collapse" id="collapse2">
              <p class="card-text">Desde proyectos emocionantes hasta oportunidades de crecimiento, lo guiamos a través de inversiones inmobiliarias inteligentes que impulsarán su patrimonio. Nuestro equipo experto analiza el mercado y selecciona cuidadosamente las mejores oportunidades de inversión para usted, asegurando un rendimiento óptimo de su inversión.</p>
              <a href="contacto.html" class="btn btn-primary btn-sm">Contáctenos</a>
            </div>
          </div>
        </div>

        <!-- Asesoramiento en Compra y Venta -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Asesoramiento en Compra y Venta</b></h5>
            <a href="#collapse3" class="" data-toggle="collapse">Ver Más</a>
            <div class="collapse" id="collapse3">
              <p class="card-text">No se trata solo de transacciones; es el arte de encontrar la propiedad adecuada. Le ofrecemos asesoramiento experto y estratégico para comprar y vender con éxito. Nuestros agentes inmobiliarios altamente capacitados lo acompañarán en cada paso del proceso, brindándole orientación personalizada y negociando en su nombre para garantizar los mejores resultados.</p>
              <a href="contacto.html" class="btn btn-primary btn-sm">Contáctenos</a>
            </div>
          </div>
        </div>

        <!-- Desarrollo de Proyectos -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Desarrollo de Proyectos</b></h5>
            <a href="#collapse4" class="" data-toggle="collapse">Ver Más</a>
            <div class="collapse" id="collapse4">
              <p class="card-text">Si está pensando en construir, ampliar o renovar, nuestro equipo especializado en desarrollo de proyectos está aquí para convertir sus ideas del papel a la realidad. Con experiencia en la gestión integral de proyectos inmobiliarios, trabajamos en estrecha colaboración con desarrolladores para ofrecer soluciones integrales y garantizar el éxito de su proyecto desde la concepción hasta la entrega final.</p>
              <a href="contacto.html" class="btn btn-primary btn-sm">Contáctenos</a>
            </div>
          </div>
        </div>

        <!-- Especialización en Parques Industriales y Logísticos -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Especialización en Parques Industriales y Logísticos</b></h5>
            <a href="#collapse5" class="" data-toggle="collapse">Ver Más</a>
            <div class="collapse" id="collapse5">
              <p class="card-text">Nos enorgullecemos de contar con un amplio portafolio de activos e inversionistas en el sector de parques industriales y logísticos, derivado del creciente mercado del nearshoring. Nuestro profundo conocimiento y experiencia en este sector nos permite ofrecer soluciones específicas y oportunidades de inversión que se alinean con las tendencias del mercado y las necesidades de nuestros clientes.</p>
              <a href="contacto.html" class="btn btn-primary btn-sm">Contáctenos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock%}