{% extends "web_site/layout.html" %}
{% block content%}
<div class="container-fluid" style="">
    <div class="row">
        <!-- Images on the left -->
        <div class="col-md-6 p-0" style="background-color: rgb(0, 0,0, 0.4);">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <img src="/static/images/h3.jpeg" class=" w-100 mb-2" alt="...">
            <img src="/static/images/h1.jpeg" class="w-100" alt="...">
          </div>
        </div>


      <!-- Services on the right -->
      <div class="col-md-6" style="background-color: white;">
        <h1 class="m-4 text-center"><b>REAL ESTATE SERVICES</b></h1>
        <p class="text-center p-3">At Patrimonial Smart & Associates, we understand that your home is not just a property; it's the epicenter where your life unfolds. Our unique and personalized approach allows you to discover the home that perfectly matches your dreams.</p>

        <!-- Personalized Real Estate Services -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Personalized Real Estate Services</b></h5>
            <a href="#collapse1" class="" data-toggle="collapse">See More</a>
            <div class="collapse" id="collapse1">
              <p class="card-text p-3">We use advanced technology and innovative marketing strategies to identify the best real estate assets for our clients. Our data-driven approach enables us to offer customized solutions and find unique opportunities that fit your needs and preferences.</p>
              <a href="contact.html" class="btn btn-primary btn-sm text-center">Contact Us</a>
            </div>
          </div>
        </div>

        <!-- Smart Real Estate Investments -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Smart Real Estate Investments</b></h5>
            <a href="#collapse2" class="" data-toggle="collapse">See More</a>
            <div class="collapse" id="collapse2">
              <p class="card-text">From exciting projects to growth opportunities, we guide you through smart real estate investments that will boost your wealth. Our expert team analyzes the market and carefully selects the best investment opportunities for you, ensuring optimal returns on your investment.</p>
              <a href="contact.html" class="btn btn-primary btn-sm">Contact Us</a>
            </div>
          </div>
        </div>

        <!-- Buying and Selling Advisory -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Buying and Selling Advisory</b></h5>
            <a href="#collapse3" class="" data-toggle="collapse">See More</a>
            <div class="collapse" id="collapse3">
              <p class="card-text">It's not just about transactions; it's the art of finding the right property. We offer expert and strategic advice for successful buying and selling. Our highly trained real estate agents will accompany you every step of the way, providing personalized guidance and negotiating on your behalf to ensure the best results.</p>
              <a href="contact.html" class="btn btn-primary btn-sm">Contact Us</a>
            </div>
          </div>
        </div>

        <!-- Project Development -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Project Development</b></h5>
            <a href="#collapse4" class="" data-toggle="collapse">See More</a>
            <div class="collapse" id="collapse4">
              <p class="card-text">If you're thinking of building, expanding, or renovating, our specialized project development team is here to turn your ideas from paper to reality. With experience in comprehensive real estate project management, we work closely with developers to offer comprehensive solutions and ensure the success of your project from conception to final delivery.</p>
              <a href="contact.html" class="btn btn-primary btn-sm">Contact Us</a>
            </div>
          </div>
        </div>

        <!-- Specialization in Industrial and Logistics Parks -->
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><b>Specialization in Industrial and Logistics Parks</b></h5>
            <a href="#collapse5" class="" data-toggle="collapse">See More</a>
            <div class="collapse" id="collapse5">
              <p class="card-text">We pride ourselves on having a broad portfolio of assets and investors in the industrial and logistics parks sector, driven by the growing nearshoring market. Our deep knowledge and experience in this sector enable us to offer specific solutions and investment opportunities that align with market trends and our clients' needs.</p>
              <a href="contact.html" class="btn btn-primary btn-sm">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock%}
