{% extends "web_site/layout_es.html" %}
{% block content%}

<div class="container-fluid" style="background-color: white;">
    <div class="container">
        <div class="heading_container heading_center ">
          <h2 class="p-4">
            Nuestros Servicios
          </h2>
        </div>
    </div>
    <section name="real state">
        <div class="container shadow  mb-5 bg-white rounded">
            <div class="row justify-content-around">
              <div class="col-sm p-3">
                <h2>Bienes Raices</h2>
                <p>En Patrimonial Smart & Asociados, comprendemos que su hogar no es solo una propiedad; es el epicentro donde su vida se desarrolla. Nuestro enfoque único y personalizado le permite descubrir el hogar que coincide perfectamente con sus sueños. </p>
                <div class="btn-box">
                    <a href="{% url 'real_state_es'%}" class="btn btn-primary">
                      Mas Informacion
                    </a>
                  </div>
            </div>
              <div class="col-sm justify-content-center text-center">
                <img src="/static/images/casa_delux.jpeg" class="w-100" alt="">
              </div>
            </div>


        </section>

    <section name="smart investment">
        <section name="real state">
            <div class="container shadow mb-5 bg-white rounded">
                <div class="row justify-content-around align-items-center">
                    <div class="col-sm justify-content-center text-center">
                      <img src="/static/images/invest.webp" class="w-100" alt="">
                    </div>
                  <div class="col-sm p-3">
                    <h2 class="">Inversion inteligente</h2>
                    <p>Nuestro compromiso en Patrimonial Smart & Asociados es brindarle un enfoque único para hacer crecer su patrimonio, basado en estrategias personalizadas y asesoramiento experto. Nos esforzamos por adaptar nuestras recomendaciones para alinearnos con sus objetivos y sueños financieros, reconociendo que la inversión va más allá de simples números; es la oportunidad de elevar su patrimonio con decisiones informadas y cuidadosamente consideradas.</p>
                    <div class="btn-box">
                        <a href="{% url 'smart_investment_es'%}" class="btn btn-success">
                          Mas Informacion
                        </a>
                      </div>
                </div>
                </div>

        </section>
    </section>



    <section name="insurance">
        <div class="container shadow  mb-5 bg-white rounded">
            <div class="row justify-content-around">
              <div class="col-sm p-3">
                <h2>Soluciones De Seguros</h2>
                <p>En Patrimonial Smart & Asociados, nos enorgullece ofrecer un servicio integral de asesoría financiera y seguros, adaptado a sus necesidades individuales y al estilo de vida que usted desea proteger. </p>
                <div class="btn-box">
                    <a href="{% url 'insurance_es'%}" class="btn btn-info">
                      Mas Informacion
                    </a>
                  </div>
            </div>
              <div class="col-sm justify-content-center text-center">
                <img src="/static/images/insurance.jpeg" class="w-100" alt="">
              </div>
            </div>


        </section>


        <section name="smart investment">
            <section name="real state">
                <div class="container shadow mb-5 bg-white rounded">
                    <div class="row justify-content-around align-items-center">
                        <div class="col-sm justify-content-center text-center">
                          <img src="/static/images/accountant.jpeg" class="w-100" alt="">
                        </div>
                      <div class="col-sm p-3">
                        <h2 class="">Asesoramiento Financiero Y Contabilidad</h2>
                        <p>Nuestro compromiso en Patrimonial Smart & Asociados es brindarle un enfoque único para hacer crecer su patrimonio, basado en estrategias personalizadas y asesoramiento experto. Nos esforzamos por adaptar nuestras recomendaciones para alinearnos con sus objetivos y sueños financieros, reconociendo que la inversión va más allá de simples números; es la oportunidad de elevar su patrimonio con decisiones informadas y cuidadosamente consideradas.</p>
                        <div class="btn-box">
                            <a href="{% url 'accountant_es'%}" class="btn btn-secondary">
                              Mas Informacion
                            </a>
                          </div>
                    </div>
                    </div>

            </section>
        </section>
</div>


{%endblock%}